@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@400;700&display=swap');

:root {
    --primaryColor: #ff3131;
    --secondaryRed: #d60c0c;
    --textColor: #d9d9d9;
    --bgColor: #141414;
    --secondaryBgColor: #1f1e1e;
}