@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@400;700&display=swap');

:root {
    --primaryColor: #ff3131;
    --secondaryRed: #d60c0c;
    --textColor: #d9d9d9;
    --bgColor: #2C2C2C;
    --secondaryBgColor: #3D3C3C;
}